/__history/*.~1~
/__history/*.~2~
/__history/*.~3~
/__history/*.~4~
/__history/*.~5~
/__history/*.~6~
/__history/*.~7~
/__history/*.~8~
/__history/*.~10~
/__history/*.~11~
/__history/*.~12~
/__history/*.~9~
/__history/u_clientes.dfm.~13~
/__history/u_clientes.dfm.~14~
/__history/u_clientes.dfm.~15~
/__history/u_clientes.dfm.~16~
/__history/u_clientes.dfm.~17~
/__history/u_clientes.dfm.~18~
/__history/u_clientes.dfm.~19~
/__history/u_clientes.pas.~13~
/__history/u_clientes.pas.~14~
/__history/u_clientes.pas.~15~
/__history/u_clientes.pas.~16~
/__history/u_clientes.pas.~17~
/__history/u_clientes.dfm.~30~
/__history/u_clientes.dfm.~31~
/__history/u_clientes.dfm.~32~
/__history/u_clientes.dfm.~33~
/__history/u_clientes.dfm.~34~
/__history/u_clientes.dfm.~35~
/__history/u_clientes.dfm.~36~
/__history/u_clientes.dfm.~37~
/__history/u_clientes.dfm.~38~
/__history/u_clientes.dfm.~39~
/__history/u_clientes.pas.~28~
/__history/u_clientes.pas.~29~
/__history/u_clientes.pas.~30~
/__history/u_clientes.pas.~31~
/__history/u_clientes.pas.~32~
/__history/u_clientes.pas.~33~
/__history/u_clientes.pas.~34~
/__history/u_clientes.pas.~35~
/__history/u_clientes.pas.~36~
/__history/u_clientes.pas.~37~
